<header>
    <div class="header-wrapper clearfix">
        <div class="logo">
            <div class="logo-circle">
                M
            </div>

            <div class="logo-wrapper">
                <span class="logo-express">E</span><span class="logo-angular">A</span><span class="logo-node">N</span><span class="logo-skills">Skills</span><span class="logo-domain">.com</span></span>
            </div>
        </div>

        <div class="header-menu">
            <ul>
                <li><a href="#" class="mongo">Mongo <i class="down-arrow"></i></a></li>
                <li><a href="#" class="express">Express <i class="down-arrow"></i></a></li>
                <li><a href="#" class="angular">Angular <i class="down-arrow"></i></a></li>
                <li><a href="#" class="node selected">Node <i class="down-arrow"></i></a></li>
                <li><a href="#" class="js">Javascript <i class="down-arrow"></i></a></li>
                <li><a href="#" class="html5">HTML5 <i class="down-arrow"></i></a></li>
                <li><a href="#" class="css3">CSS3 <i class="down-arrow"></i></a></li>
            </ul>
        </div>
    </div>
</header>
