footer
    background-color grayWhite
    border-top 1px solid lighterGray
    height 50px
    padding-top 10px
    position relative
    width 100%

    .copyright
        margin 0 auto
        width 96%

        $createLogoFooter()
