/* Prefix vendors */
vendor-prefixes = o ms moz webkit official

/* Header */
headerBgColor = #F5F5F5

/* Logo & menu options */
grayWhite = #F5F5F5
mongoColor = #7B431D
expressColor = #008EF1
angularColor = #E62A39
nodeColor = #83CD29
jsColor = #E2C41B
html5Color = #E64C17
css3Color = #006EBD
registerColor = #E500B7
loginColor = #1BD7AD

/* General Colors */
darkGray = #222
lighGray = #EEE
lighterGray = #F0F0F0
gray = #CCC
white = #FFF
black = #000
