        <footer>
            <div class="copyright">
                <a href="{{ basePath }}" title="{{ __.site.title }}">
                    <div class="logo">
                        <div class="logo-circle">
                            M
                        </div>

                        <div class="logo-wrapper">
                            <span class="logo-express">E</span><span class="logo-angular">A</span><span class="logo-node">N</span><span class="logo-skills">Skills</span><span class="logo-domain">.com</span></span>
                        </div>
                    </div>
                </a>
            </div>
        </footer>
    </div>
</div>
